<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{% block title %}Foxy Fabrications{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
  </head>
  <body class="dark-theme">
    {% include "header.html" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>
        &copy; 2025 Foxy Fabrications UK
        | <a href="http://localhost:3000/terms-conditions" target="_blank">Terms & Conditions</a>
        | <a href="http://localhost:3000/privacy-policy" target="_blank">Privacy Policy</a>
      </p>
    </footer>
  </body>
</html>

